*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    user-select: none;
    text-decoration: none;
  }
  
  body {
    background-image: url(./assets/1e79074c289576e5dd073ed89afe9ce4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    height: 100vh;
  }
  
  .main {
    width: 80vw;
    height: 85vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px; 
  }
  
  .personalIMG {
    width: 20vh;
    max-width: 100%;
    height: 20vh;
    border-radius: 50%;
    background-image: url(./assets/cropped-image.png);
    background-position: 50% 36%;
    background-size: 250%;
    background-repeat: no-repeat;
    border: white dotted 2.5px;
  }
  
  .description {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 

  }
  
  .bodoni-moda-sc-header {
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 4vh; 
    font-style: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }
  
  .quicksand-span {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 18px;  
    font-style: normal;
  }
  
  .sup-description{
    font-size: 2.5vh;
    
  }
  .Links {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 25px;
  }
  
  .LINK {
    height: 8vh;
    background-color: rgba(255, 255, 255, 0.589);
    color: black;
    width: 45vw; 
    text-align: center;
    margin: auto;
    position: relative;
    border-radius: 45px;
    transition: 0.5s ease;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
    display: flex;

  }
  
  .LINK:hover {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.5);
  }
  
  .linkText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }